<mat-card class="container">
    <mat-card-content class="container__content">
        <div class="container__content-item">
            <mat-card class="card">
                <mat-card-title class="head">Nombre de pilote</mat-card-title>
                <mat-card-content class="cont">
                    <p>18</p>
                </mat-card-content>
            </mat-card>
        </div> 
        <div class="container__content-item">
            <mat-card class="card">
                <mat-card-title class="head">Distance total</mat-card-title>
                <mat-card-content class="cont">
                    <p>108Km</p>
                </mat-card-content>
            </mat-card>
        </div> 
        <div class="container__content-item">
            <mat-card class="card">
                <mat-card-title class="head">Durée total</mat-card-title>
                <mat-card-content class="cont">
                    <p>6h 45mn 05s</p>
                </mat-card-content>
            </mat-card>
        </div> 
    </mat-card-content>
</mat-card>