<div class="container">
    <mat-card class="container__card">
        <mat-card-header>
            <img src="/assets/images/Rectangle4.png" alt="">
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="container__card__content">
            <div class="login">Login</div>
            <div>
                <input type="text" placeholder="user name">
            </div>
            <div>
                <input type="password" placeholder="Password">
            </div>
            <button (click)="login()">Connexion !</button>
        </mat-card-content>
    </mat-card>
</div>