<div class="container">
    <mat-card class="container__card">
        <mat-card-header>
            <img src="/assets/images/Rectangle4.png" alt="">
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="container__card__content">
            <div class="login">Login</div>
            <div [ngClass]="{'error': usernameError}">
                <input type="text" placeholder="user name" [(ngModel)]="username"  (input)="resetUsernameError()" required>
            </div>
            <div [ngClass]="{'error': passwordError}">
                <input type="password" placeholder="Password" [(ngModel)]="password" (input)="resetPasswordError()" required>
            </div>
            @if (authService.errorMessage()) {
                <div class="errorMsg">
                    <p>{{authService.errorMessage()}}</p>
                </div>
            }
            <button (click)="login()">Connexion !</button>
        </mat-card-content>
    </mat-card>
</div>