<mat-card class="container" #fullScreenElement>
    <div class="header">
        <div class="subtitle">
            <img src="/assets/icons/listPilote.svg" alt="Liste pilote">
            <p>Liste des pilotes</p>
        </div>
        <div style="display: flex; gap: 1.2vw">
            <img src="/assets/icons/reload.svg" 
                alt="reload"  class="img" 
                style="width: 1.6rem; height: 1.6rem;"
            >
            <!-- <img src="/assets/icons/fullscreen.png" 
                alt="full screen"  class="img" 
                style="width: 1.6rem; height: 1.6rem;"
                (click)="toggleFullScreen()"
            > -->
        </div>
    </div>
    <mat-card-content class="content">
        <form (submit)="create()" [formGroup]="formulaire">
            <div class="form-items">
                <mat-form-field appearance="outline" style=" height: 3rem;">
                    <mat-label>Nom du Pilote</mat-label>
                    <input matInput formControlName="name"  placeholder="Nom du Pilote">
                </mat-form-field>
                <div>
                    <div class="input">
                        @if (fileName) {
                            <p style="font-size: 17px; color: #919191; font-weight: 1;">{{fileName}}</p> 
                        } @else {
                            <p style="font-size: 17px; color: #919191;">{{vehicule().photo}}</p>
                        }
                        <button type="button" class="file" (click)="uploadFile()">
                            <p>Charger le fichier</p>
                        </button>
                        <input 
                            type="file" 
                            #fileInput 
                            
                            name="photo"
                            (change)="handleFileInput($event)"
                            style="display: none; height: 100%;"
                        >
                    </div>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Sponsor</mat-label>
                    <input matInput formControlName="sponsor" placeholder="Nom du Pilote">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Marque de véhicule</mat-label>
                    <input matInput formControlName="marque" placeholder="Nom du Pilote">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Id Wialon</mat-label>
                    <input matInput [value]="vehicule().idwialon" placeholder="Nom du Pilote">
                </mat-form-field>
                <mat-form-field appearance="outline" style="height: 3rem;" class="imma">
                    <input matInput placeholder="Immatriculation">
                </mat-form-field>
                <button type="submit" mat-raised-button class="validateBtn" (click)="create()">Valider</button>
            </div>
        </form>

        <div class="imge">
            <img src="/assets/images/imgCar.png" alt="car image">
        </div>
    </mat-card-content>
</mat-card>