
<mat-card #fullScreenElement
    class="container"  
    [ngClass]="{'fullscreen': isFullScreen()}"
>
    <div [ngClass]="{'headerfullscreen': isFullScreen(), 'header': !isFullScreen()}">
        <div class="subtitle">
            <img src="/assets/icons/listPilote.svg" alt="Liste pilote" style="width: 3vw; height: 3vh;">
            <p>Top 8 des winners</p>
        </div>
        <div>
            <img src="/assets/icons/reload.svg" (click)="reload()" alt="menu toggle" style="width: 3vw; height: 3vh;" class="img">
            @if (isFullScreen()) {
                <img src="/assets/icons/x.png" alt="menu toggle" style="width: 1.6rem; height: 1.6rem;" (click)="hideFullScreen()" class="img">
            }  @else {
                <img src="/assets/icons/fullscreen.png" alt="menu toggle" style="width: 1.6rem; height: 1.6rem;" (click)="toggleFullScreen()" class="img">
            }
        </div>
    </div>
    <mat-card-content class="content" [ngClass]="{'tablefullscreen': isFullScreen(), 'table': !isFullScreen()}"  >
        <div class="content__nav">
             <div 
                class="content__nav-item" 
                [routerLink]="[{ outlets: {final: ['final-1']}}]"
                routerLinkActive="active"
                >
                <p>RESULTAT FINAL SPECIAL </p>
            </div>
            <div 
                class="content__nav-item" 
                [routerLink]="[{ outlets: {final: ['final-2']}}]"
                routerLinkActive="active"    
            >
                <p>RESULTAT SPRINT</p>
            </div>
        </div>
        <div class="content__main">
            <router-outlet name="final"></router-outlet>
        </div>
       
    </mat-card-content>
</mat-card>