<mat-card #fullScreenElement
    class="container"
    [ngClass]="{'fullscreen': isFullScreen()}"
>
    <div [ngClass]="{'headerfullscreen': isFullScreen(), 'header': !isFullScreen()}">
        <div class="subtitle">
            <img src="/assets/icons/listPilote.svg" alt="Liste pilote">
            <p>Evolution des Real Time</p>
        </div>
        <div>
            <img src="/assets/icons/reload.svg" alt="menu toggle"  class="img">
            @if (isFullScreen()) {
                <img src="/assets/icons/x.png" alt="menu toggle" style="width: 1.6rem; height: 1.6rem;" (click)="hideFullScreen()" class="img">
            } @else {
                <img src="/assets/icons/fullscreen.png" alt="menu toggle" style="width: 1.6rem; height: 1.6rem;" (click)="toggleFullScreen()" class="img">
            }
        </div>
    </div>
    <mat-card-content class="content">
        <div class="map" [ngClass]="{'fullscreen': isFullScreen()}">
            <iframe src="https://hosting.camtrack.net/locator/index.html?t=1f59b5fbd0b702d585a477e3a3d701bcB7448FE492F9C24812962960147A90D4D6BB8F34" width="100%" height="500"></iframe>
        </div>
    </mat-card-content>
</mat-card>