<div class="header">
    <div class="head">
        <div class="subtitle">
            <img src="/assets/icons/listPilote.svg" alt="Liste pilote">
            <p class="subtitle__p">WINNER RALLYE GT 2024</p>
        </div>
        <div class="close" mat-dialog-close>X</div>
    </div>
</div>
<mat-dialog-content class="content">
    <div class="img">
        <div class="imgDriver">
            <img src="/assets/images/user.png" alt="User win" style="width: 10vw;">
        </div>
        <div class="imgWinner" >
            <img src="/assets/icons/winner.png" alt="icon win" style="width: 23vw;">
        </div>
    </div>
    <div class="title">
        <div class="title__item">
            <div class="it_title">
                <p>Pilotes</p>
            </div>
            <div class="it">
                <p>Olivier Ramdam</p>
            </div>
        </div>
        <div class="title__item">
            <div class="it_title">
                <p>Sponsor</p>
            </div>
            <div class="it">
                <p>CAMTRACK</p>
            </div>
        </div>
        <div class="title__item">
            <div class="it_title">
                <p>Marque</p>
            </div>
            <div class="it">
                <p>OPEL</p>
            </div>
        </div>
        <div class="title__item">
            <div class="it_title">
                <p>Véhicule</p>
            </div>
            <div class="it">
                <p>LT 705454-X</p>
            </div>
        </div>
        <div class="title__item">
            <div class="it_title">
                <p>Distance Total</p>
            </div>
            <div class="it">
                <p>105 Km</p>
            </div>
        </div>
        <div class="title__item">
            <div class="it_title">
                <p>Heure Total Parcours</p>
            </div>
            <div class="it">
                <p>4h 45min 5s</p>
            </div>
        </div>
    </div>
    <div>
        <img src="/assets/images/imgCar.png" alt="car win" style="width: 20vw;">
    </div>
</mat-dialog-content>
